id: ${tcid}
title: ${title}
purpose: ${purpose}
description:
  ${description}
reqs:
  - id: ${reqid}
    method: ${vermethod}
steps:
  - step: 1
    action: |
      Multiline unicode text string
    expected_result: |
      Multiline unicode text string
  - step: 2
    action: |
      Multiline unicode text string
    expected_result: |
      Multiline unicode text string
